@import "tailwindcss";

@theme {
  --color-cyber-black: #050505;
  --color-cyber-dark: #0a0a0a;
  --color-cyber-gray: #1a1a1a;
  --color-cyber-light: #2a2a2a;
  --color-cyber-neonGreen: #00ff41;
  --color-cyber-neonRed: #ff003c;
  --color-cyber-neonBlue: #00f3ff;
  --color-cyber-text: #e0e0e0;
  --color-cyber-muted: #858585;
  
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-cyber-black);
  color: var(--color-cyber-text);
  font-family: var(--font-mono);
}

@layer base {
  body {
    @apply antialiased bg-cyber-black text-cyber-text selection:bg-cyber-neonGreen selection:text-cyber-black;
  }
}
